shamefully-hoist=true
strict-peer-dependencies=false
@t3headless:registry=https://git.macopedia.pl/api/v4/projects/811/packages/npm/
//git.macopedia.pl/api/v4/projects/811/packages/npm/:_authToken=${NPM_TOKEN}
